.todoWrapper {
	max-width: 600px;
	margin: auto;
}

.listWrapper {
	margin-top: 20px;
}

.listItem {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px;
	gap: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.createWrapper {
	margin-top: 10px;
	margin-bottom: 20px;
}

.title {
	width: 300px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.completed {
	border: 1px solid;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	opacity: 0.5;
}

.done {
	background-color: green;
}

.doing {
	background-color: blue;
	opacity: 0.9;
}
