.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 25px;
}

.card {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	row-gap: 3px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 10px;
	overflow-wrap: anywhere;
}
